*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

.app{
  background-image: url(./images/cold-bg.jpg);
  background-size:cover;
  background-position: bottom;
  transition: 0.35 ease-out;
}
.app.warm{
  background-image: url(./images/warm-bg.jpg);
}

main{
  min-height: 100vh;
  background-image: linear-gradient;
}

.app.warm{
  background-image: url(./images/warm-bg.jpg);
}
